# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - TBZ\ePortfolios - Module\Modul226b\KNC\OnDesktop\M226b_KNC_Group2\_Dungeon_Crawler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
